*.linkinfo
*.o
*.orig
*.pyc
*.pyo
*.so
*.sw?
*~
*.aux
*.log
*.nav
*.out
*.pdf
*.snm
*.toc
*.vrb
.noseids
\#*\#
core.*
dist
*.DS_Store
*.bak
theano_chi2sf/generated_version.py
build
Theano_chi2sf.egg-info